Source: libdisplaycore-filters
Section: libraries
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-filters
Section: libraries
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Filters
Depends: libdisplaycore-core
Provides: Filters.h
Description: DisplayCore Image Filters
 A selection of Image Filters



